<nav>
    <ul>
        <li>Header</li>
        <li>
            <a href="/users/sign-in">
                Sign in
            </a>
        </li>
        <li>
            <a href="/users/sign-up">
                Sign Up
            </a>
        </li>
    </ul>
</nav>

