<nav>
    <ul>
        <li>Header</li>
        <li>
            <a href="/users/sign-in">
                <div class="header-btns">
                    <%if(locals.user){%>
                        <%= user.name %>
                    <%}else{%>
                        Sign In
                    <%}%>
                </div>
                
            </a>
        </li>
        <li>
            <%if(locals.user){%>
                <a href="/users/sign-out">
                    <div class="header-btns">
                        Sign Out
                    </div>
                </a>                    
            <%}else{%>
                <a href="/users/sign-up">
                    <div class="header-btns">
                        Sign Up
                    </div>
                </a>
            <%}%>
        </li>
    </ul>
</nav>

