<link rel="stylesheet" href="/css/post.css">
<% if (locals.flash.success && locals.flash.success.length > 0) { %>
    <div class="flash-container">
        <%= flash.success %>
        <a href="/">Go to Home</a>
    </div>        
<% } %>
<div id="main">
    <div id="post-body">
        <div id="post-heading">
            <span>
                create a post
            </span>
        </div>
        <div id="form-body">
            <form action="/posts/create" id="new-post-form" method="post">
                <div class="text">
                    <textarea name="content" id="" cols="30" rows="5" placeholder="type your content here" required></textarea>
                </div>
                <div class="button">
                    <input type="submit" value="Post">
                </div>
            </form>
        </div>
       
    </div>
</div>
<!-- <script src="/js/home_posts.js"></script> -->

