<link rel="stylesheet" href="/css/home.css">
<div id="main-home-container">
    <div class="functionality">
        some content
        <div id="chatting-box">
            <div id="chatting-header">
                <span><strong>Chat here</strong></span>
            </div>
            <div id="chatting-main">

            </div>
            <div id="chatting-button">
                <input type="text" id="chatting-textbox">
                <input type="submit" value="Send">
            </div>
        </div>
    </div>
    <div class="main-body">
        <%for (posts of posts){%>
            <%-include('_posts')-%>
        <%}%>
    </div>
    <div id="user-friends" class="friends">
        <h2>Friends</h2>
        <% for( u of all_users ) { %>
            <p>
                <a href="/users/profiles/<%= u.id %>">
                    <p>
                        <div class="user_name">
                            <%= u.name %>
                        </div>
                        <div class="user_email">
                            <%= u.email %>
                        </div>
                    </p>
                </a>
            </p>
        <% } %>
    </div>
</div>
<script src="/js/home_posts.js"></script>
<script src="/js/home-post-comment.js"></script>
<script src="/js/like-post.js"></script>


