<link rel="stylesheet" href="/css/sign-in.css">
<div id="main">
    <div id="sign-in-container">
        <div class="heading">
            <span>sign in</span>
        </div>
        <div class="main-body">
            <form action="/users/create-session" method="post">
                <input type="text" name="email" placeholder="enter email">
                <input type="password" name="password" id="" placeholder="enter password">
                <input type="submit" value="Sign In">
                <a href="/users/sign-up">
                    <input type="button" value="New User? Sign Up">
                </a>
            </form>
        </div>
    </div>
</div>
