<link rel="stylesheet" href="/css/sign-in.css">
<div id="main">
    <div id="sign-in-container">
        <div class="heading">
            <span>sign up</span>
        </div>
        <div class="main-body">
            <form action="/users/create" method="post">
                <input type="text" name="name" placeholder="enter name">
                <input type="text" name="email" placeholder="enter email">
                <input type="password" name="password" id="" placeholder="enter password">
                <input type="password" name="confirm_password" id="" placeholder="confirm password">
                <input type="submit" value="Sign Up">
                <a href="/users/sign-in">
                    <input type="button" value="Alreay Registered? Sign In">
                </a>
            </form>
        </div>
    </div>
</div>