#main-home-container{
    width: 100vw;
    height: 100vh;
    // background-color: red;
    // position: fixed;
    display: flex;
    .functionality{
        width: 20%;
        height: 100%;
        // background-color: blue;
        border-right: 1px solid white;
        // position: fixed;
        position: relative;
        #chatting-box{
            position: absolute;
            width: 290px;
            height: 350px;
            // background-color: red;
            border: 2px dotted white;
            bottom:100px;
            display: flex;
            flex-direction: column;
            #chatting-header{
                width: 100%;
                height: 50px;
                // background-color: white;
                border-bottom: 1px dotted white ;
                span{
                    color: white;
                    
                }
            }
            #chatting-main{
                height: 250px;
                // background-color: #7709a6;
            }
            #chatting-button{
                display: flex;
                height: 50px;
                // background-color: white;
                border-top: 1px solid black;
                #chatting-textbox{
                    height: 94%;
                    width: 222px;
                    border: 1px solid white;
                    border-bottom: none;
                    background-color: transparent;
                    color: white;
                }
                input[type="submit"]{
                    border:none;
                    
                    height: 100%;
                    width: 78px;
                    background-color:#7709a6;
                    color: white;
                }
            }
        }
    }
    .main-body{
        width: 60%;
        // height: 100%;
        // background-color: white;
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        overflow-x: scroll;
        .post-display{
            width: 90%;
            min-height: 200px;
            // background-color: white;
            // border-radius: 20px;
            box-shadow: 1px 1px 5px 5px #7709a6;
            padding-top: 20px;
            padding-bottom: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
            position: relative;
            overflow-x: hidden;
            .user-name{
                width: 100%;
                height: 20%;
                margin-bottom: 20px;
                // background-color: green;
                p{
                    position: relative;
                    left: 20px;
                    top: 2px;
                    font-size: 106%;
                }
            }   
            .post-content{
                width: 100%;
                height: auto;
                // background-color: red;
                p{
                    position: relative;
                    left: 20px;
                    font-size: 121%;
                    word-wrap: break-word;
                    font-weight:700;
                }
            }
            .interactions{
                .fa-heart{
                    position: relative;
                    left: 39px;
                    top: 10px;
                    cursor: pointer;
                }
                .like-count{
                    position: relative;
                    top: 10px;
                }
            }
            .comment-section{
                width: 100%;
                position: relative;
                left: 20px;
                top: 20px;
                overflow: hidden;
                form{
                    color: white;
                    input[type='text']{
                        color: white;
                    }
                    .comment-content{
                        background-color: #141717;
                        border: none;
                        // box-shadow: 1px 1px 5px 7px rgb(46, 44, 49);
                        padding:2px 10px 2px;
                        width: 150px;
                        height: 20px;                    
                    }
                    input[type='submit']{
                        height: 20px;
                        width: 50px;
                        background-color: #464040;
                        color: white;
                        border: none;
                        // box-shadow: 1px 1px 5px 3px rgb(206, 118, 226);
                        cursor: pointer;
                    }

                }
                .comment-list{
                    .comment-box{
                        margin-top: 10px;
                        margin-left: 20px;
                        border-width: 0px 0px 0px 1px;
                        width: 50%;
                        border-bottom-left-radius: 10px;    
                        border-style: dashed;
                        border-color: white;
                        padding-left: 20px;
                        position: relative;
                        .comment-name{
                            font-size: 12px;
                            
                        }
                        .comment-content{
                                font-size: 16px;
                        }
                    }
                }
            }
        }

    }
    .friends{
        width: 20%;
        height: 100%;
        // background-color:red;
        border-left: 2px solid white;
        padding-left: 20px;
        .user_name{
            font-size: 24px;
        }
        .user_email{
            font-size: 14px;
            margin-bottom: 20px;
        }

    }
}

.delete-icon{
    a{
        .fa-trash-can{
            position: absolute;
            right: 15px;
            top: 14px;
        }
    }

}

.delete-icon-comment{
    a{
        .fa-trash-can{
            position: absolute;
            left: -24px;
            top: 19px;
            font-size: 13px; 
        }

    }

}
