*{
    margin: 0px;
    padding: 0px;
}
*::-webkit-scrollbar{
    display:none;
}
a{
    color: white;
    text-decoration: none;
}

body{
    background-color: #01000d;
    color: white;
    font-family: 'Noto Sans KR', sans-serif;
}

nav{
    height: 60px;
    // background: linear-gradient(45deg, #6316c0, rgb(47, 18, 133));
    background-color: transparent;
    // position: fixed;
    box-shadow: 1px 1px 5px 2px #7709a6;
    ul{
        display: flex;
        color: white;
        justify-content: flex-end;
        li{
            margin-right: 40px;
            list-style-type: none;
            margin-top: 10px;
            font-size: 20px;
            .header-btns{
                padding: 0px 10px 0px;
                width: auto;
                height: 40px;
                background: linear-gradient(45deg,#7709a6, #6316c0);
                text-align: center;
                border-radius: 5px;
                box-shadow: -1px -1px 10px 0px #7709a6;
                .fa-plus{
                    position: relative;
                    top: 2px;
                }
            }
            // .sign-up{
            //     width: 130px;
            // }
        }
    }
}
